canvas {
    display: block;
    background: rgb(0, 0, 0)
}

h1 {
    color: black;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    clear: both;
}

* {
    margin-left: 1px;
}